header(style="background-image: url('img/creative/bg-header.png');")
  .intro-content
    img.img-responsive.img-centered(src='img/creative/profile.png', alt='')
    .brand-name Jia Liu
    hr.colored
    .brand-name-subtext Profile of Jia Liu
  .scroll-down
    a.btn.page-scroll(href='#about')
      i.fa.fa-angle-down.fa-fw

section#about
  .container.wow.fadeIn
    .row
      .col-md-6
        img.img-responsive(src='img/creative/about.png', alt='')
      .col-md-6.text-center
        h1 Hi, I'm Jia Liu
        hr.colored
        p
          | I am a computer science student pursuing Master’s degree in Pace University - NYC; hold a Master’s degree in Analytical Chemistry from the University of Alabama; and a amateur photographer/videographer.
        p
          | I am actively seeking internships/fulltime jobs. Please check out my
          a(href="/files/Jia Liu's Resume.pdf", target='_blank')  resume
          | .

section#developer.bg-gray
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        h1 Porjects I was involved in
        p I am into mobile development, web development, and graphic design.
        hr.colored
    .row.text-center.content-row
      .col-md-4.col-sm-6.wow.fadeIn(data-wow-delay='.2s')
        .about-content
          img.developerIcon(src='img/creative/icons/talkittIcon.png')
          h3 mobile development
          p
            | iOS/Android Application Development/UI Design:
            a(href='http://www.talkitt.com/', target='_blank')  Talkitt
            | ; Parallel development for both plantforms using React Native; Check out a development demo
            a(href='https://www.youtube.com/watch?v=5UrD_loDgII', target='_blank')  video
            | .
      .col-md-4.col-sm-6.wow.fadeIn(data-wow-delay='.4s')
        .about-content
          img.developerIcon(src='img/creative/icons/BiliBHIcon.png')
          h3 Chrome Plugin
          p
            a(href='https://github.com/jialiu54321/bilibili-danmu-helper', target='_blank') Bilibili Danmu Helper
            | : A Chrome extension helps finding highlights of videos on
            a(href='http://www.bilibili.com/', target='_blank')  bilibili.com
            | .
      .col-md-4.col-sm-6.wow.fadeIn(data-wow-delay='.6s')
        .about-content
          img.developerIcon(src='img/creative/icons/elabIcon.png')
          h3 Web Development and Maintenance
          p
            | Developed and did maintenance for Pace University
            a(href='http://www.pace.edu/lubin/departments-and-research-centers/entrepreneurship-lubin/entrepreneurship-lab', target='_blank')  Entrepreneurship Lab
            |  website.
