footer#contact.footer(style="background-image: url('img/bg-footer.png')")
    .container.text-center
        .row
            .col-md-12.contact-details
                h4
                    i.fa.fa-envelope
                    |  Email
                p
                    a(href='mailto:jialiu54321@gmail.com') jialiu54321@gmail.com
        .row.social
            .col-lg-12
                ul.list-inline
                    li
                        a(href='https://www.linkedin.com/in/jialarryliu', target='_blank')
                            i.fa.fa-linkedin.fa-fw.fa-2x
        .row.copyright
            .col-lg-12
                p#copyrightText.small Copyright © 2016 Jia Liu. All rights reserved.