doctype html
html(lang="en")
    include ./partials/_head.jade
    body#page-top
        include ./partials/_nav.jade

        include ./partials/_body.jade

        include ./partials/_footer.jade

        // Core Scripts
        script(src='js/jquery.js')
        script(src='js/bootstrap/bootstrap.min.js')
        // Plugin Scripts
        script(src='js/plugins/jquery.easing.min.js')
        script(src='js/plugins/classie.js')
        script(src='js/plugins/cbpAnimatedHeader.js')
        script(src='js/plugins/owl-carousel/owl.carousel.js')
        script(src='js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js')
        script(src='js/plugins/background/core.js')
        script(src='js/plugins/background/transition.js')
        script(src='js/plugins/background/background.js')
        script(src='js/plugins/jquery.mixitup.js')
        script(src='js/plugins/wow/wow.min.js')
        script(src='js/contact_me.js')
        script(src='js/plugins/jqBootstrapValidation.js')
        // Vitality Theme Scripts
        script(src='js/vitality.js')

        //other
        script(src='js/vitality.js')
